<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SnappyGit</title>

  <link rel="shortcut icon" href="/image/git-merge-fill.svg" type="image/x-icon">
  <!-- Tailwind CSS -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Remix Icon -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/style/meta.css">

</head>

<body class="font-[Gabarito] px-4 sm:px-6 lg:px-[100px] bg-[#F5F5F5] ">
  <div class="loader-div" id="loader">
    <div class="loader font-[Gabarito] "></div>
  </div>
  <header class="w-full px-4 sm:px-6 py-4 flex justify-between items-center">
    <div class="text-lg sm:text-xl flex items-center gap-1">
      <i class="ri-git-merge-fill"></i>SnappyGit
    </div>
    <div id="profileSection" class="hidden relative flex gap-3 sm:gap-7 items-center">
      <a href="https://github.com/vikaspal9131/SnappyGit" target="_blank" class="border px-2 py-1 text-[12px] rounded-[3px]">
        <i class="ri-github-fill"></i> Give Star</a>

      <img id="userPic" class="w-8 h-8 rounded-[10px] border border-gray-300 cursor-pointer" alt="Profile">
      <div id="logoutPopup"
        class="hidden absolute right-0 mt-2 bg-white shadow-lg rounded-lg border border-gray-200 w-32 p-2">
        <button id="logoutBtn" class="w-full text-left px-3 py-2 text-sm text-red-600 hover:bg-gray-100 rounded">
          Logout
        </button>
      </div>
    </div>
    <a id="loginBtn" href="/login"
      class="bg-[#D2F94E] text-black px-4 sm:px-5 py-2 sm:py-1 rounded-[3px] font-[100] text-sm sm:text-base inline-block hover:bg-[#D2F94E]/80 transition 1">Login
    </a>
  </header>
  <div
    class="text-center mt-[50px] sm:mt-[80px] lg:mt-[150px] mb-[80px] sm:mb-[100px] lg:mb-[190px] flex items-center justify-center gap-6 sm:gap-12 lg:gap-[100px] px-4">
    <div class="flex">
        
        <p ><img src="/image/home.webp" alt="" class="w-6"></p>
      <div>
        <h1 class="text-[26px] sm:text-5xl lg:text-[65px] leading-tight">
          SnappyGit <i class="ri-git-merge-fill  text-3xl sm:text-[46px] lg:text-[56px]"></i> your shortcut <br class="hidden sm:block">to a greener GitHub chart
        </h1>
        <p class="mt-4 sm:mt-6 text-sm sm:text-base">
          Transform your GitHub profile with a consistently active look by developer journey
          <br class="hidden sm:block ">filling past gaps in your contribution graph and showcasing your real
        </p>
        <a href="#g"
          class="mt-4 bg-[#D2F94E] text-black px-4 sm:px-5 py-2 sm:py-2 rounded-[3px] font-[100] text-sm sm:text-base inline-block hover:bg-[#D2F94E]/80 transition 1">
          Generate Commits
        </a>
      </div>
        
    </div>
  </div>
  <section class="text-start px-4 sm:px-6 py-10 md:py-20 flex flex-col md:flex-row justify-between gap-4 w-full">
    <div class="text-start flex w-full md:w-1/2 mb-8 md:mb-0">
      <div>
        <h1 class="text-3xl sm:text-4xl md:text-6xl lg:text-[53px] leading-tight">
          No Clue What to <br> Do Just Watch this !
        </h1>
        <p class="mt-4 text-gray-700 max-w-xl">
          Watch this detailed step-by-step guide on creating your GitHub Personal Access Token, understanding the
          required scopes, and using it securely to generate commits to your repository.
        </p>
        <div class=" flex items-center justify-center  py-5 rounded-lg mt-[40px]">
          
          <video class="w-[550px] rounded-[3px] z-10 relative pointer-events-none select-none" autoplay loop muted
            playsinline preload="auto">
            <source src="https://res.cloudinary.com/dyv9kenuj/video/upload/v1754660162/demo1_ni16sb.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
    <div id="g" class="flex justify-center items-center w-full md:w-1/2 border">
      <% if (typeof success !=="undefined" && success) { %>
        <div class="bg-green-100 text-green-800 p-3 mb-4 border border-green-300 rounded text-center w-full">
          <%= success %>
        </div>
        <% } %>
          <div class="rounded-xl p-6 sm:p-8 w-full max-w-sm sm:max-w-3xl relative">
            <div class="container">
              <% if (typeof message !=="undefined" && message) { %>
                <div class="bg-red-100 text-red-600 p-3 mb-4 border border-red-600 rounded text-center w-full">
                  <%= message %>
                </div>
                <% } %>
                  <h1 class="text-[15px] mb-[20px] text-gray-700">Provide your repository details, date range, and other
                    inputs to proceed</h1>
                  <form action="/generate" method="POST" class="space-y-4 sm:space-y-5">
                    <div class="flex flex-col sm:flex-row gap-4 sm:gap-5">
                      <div class="flex-1">
                        <label for="username" class="block mb-1 text-gray-700 font-medium text-[12px] sm:text-[13px]">
                          GitHub Username:
                        </label>
                        <input type="text" id="username" name="username" required autocomplete="off"
                          class="w-full bg-transparent text-black px-3 sm:px-4 py-3 sm:py-2 placeholder-gray-500 border border-gray-300 rounded-[3px] outline-none focus:ring-0 text-[12px] sm:text-[13px]">
                      </div>

                      <div class="flex-1">
                        <label for="projectName"
                          class="block mb-1 text-gray-700 font-medium text-[12px] sm:text-[13px]">
                          Select Project:
                        </label>
                        <select id="projectName" name="projectName" required
                          class="w-full bg-transparent text-black px-3 sm:px-4 py-3 sm:py-2 placeholder-gray-500 border border-gray-300 rounded-[3px] outline-none focus:ring-0 text-[12px] sm:text-[13px]">
                          <% projects.forEach(project=> { %>
                            <option value="<%= project %>">
                              <%= project %>
                            </option>
                            <% }); %>
                        </select>
                      </div>
                    </div>
                    <div class="flex flex-col sm:flex-row gap-4 sm:gap-5">
                      <div class="flex-1  mt-[20px]">
                        <label for="commitsPerDay"
                          class="block  text-gray-700 font-medium text-sm mt-[-20px] text-[12px] sm:text-[13px] mb-1">
                          Commits/Day (Max 10):
                        </label>
                        <select id="commitsPerDay" name="commitsPerDay" required
                          class="w-full bg-transparent text-black px-3 sm:px-4 py-3 sm:py-[9px] placeholder-gray-500 border border-gray-300 rounded-[3px] outline-none focus:ring-0 text-[12px] sm:text-[13px]">
                          <% for (let i=1; i <=10; i++) { %>
                            <option value="<%= i %>" <%=i===5 ? 'selected' : '' %>><%= i %> Commit<%= i> 1 ? 's' : ''
                                  %>/day</option>
                            <% } %>
                        </select>
                      </div>





                      <div class="flex flex-col flex-1">
                        <label for="maxSkipDays"
                          class="block mb-1 text-gray-700 font-medium text-[12px] sm:text-[13px]">
                          Max Skip Days (0–7):
                        </label>
                        <input type="number" id="maxSkipDays" name="maxSkipDays" placeholder="Enter max skip days "
                          required min="0" max="7" value="0" oninput="validateMaxSkipDays(this)"
                          class="w-full bg-transparent text-black px-3 sm:px-4 py-3 sm:py-2 placeholder-gray-500 border border-gray-300 rounded-[3px] outline-none focus:ring-0 text-[12px] sm:text-[13px]">
                        <small id="skipNote" class="text-gray-500 mt-1 mb-1">No skip days</small>
                      </div>
                    </div>


                    <div class="flex-1 ">
                      <label for="repoName"
                        class="block mt-[-20px] mb-1 text-gray-700 font-medium text-[12px] sm:text-[13px]">
                        Repository Name (must exist):
                      </label>
                      <input type="text" id="repoName" name="repoName" required autocomplete="off"
                        class="w-full bg-transparent text-black px-3 sm:px-4 py-3 sm:py-2 placeholder-gray-500 border border-gray-300 rounded-[3px] outline-none focus:ring-0 text-[12px] sm:text-[13px]">
                    </div>


                    <div>
                      <label for="token" class="block mb-1 text-gray-700 font-medium text-[12px] sm:text-[13px]">
                        GitHub Personal Access Token:
                      </label>
                      <input type="password" id="token" name="token" required
                        class="w-full bg-transparent text-black px-3 sm:px-4 py-3 sm:py-2 placeholder-gray-500 border border-gray-300 rounded-[3px] outline-none focus:ring-0 text-[12px] sm:text-[13px]">
                      <small class="text-gray-400">Needs 'repo' scope.</small>
                    </div>

                    <div class="flex flex-col sm:flex-row gap-4 sm:gap-5">
                      <div class="flex-1">
                        <label for="startDate" class="block mb-1 text-gray-700 font-medium text-[12px] sm:text-[13px]">
                          Start Date:
                        </label>
                        <input type="date" id="startDate" name="startDate" required
                          class="w-full bg-transparent text-black px-3 sm:px-4 py-3 sm:py-2 placeholder-gray-500 border border-gray-300 rounded-[3px] outline-none focus:ring-0 text-[12px] sm:text-[13px]">
                      </div>

                      <div class="flex-1">
                        <label for="endDate" class="block mb-1 text-gray-700 font-medium text-[12px] sm:text-[13px]">
                          End Date:
                        </label>
                        <input type="date" id="endDate" name="endDate" required
                          class="w-full bg-transparent text-black px-3 sm:px-4 py-3 sm:py-2 placeholder-gray-500 border border-gray-300 rounded-[3px] outline-none focus:ring-0 text-[12px] sm:text-[13px]">
                      </div>
                    </div>
                    <button id="generateBtn" type="submit"
                      class="relative w-full bg-black text-white px-4 sm:px-5 py-2 sm:py-3 rounded-[3px] font-[100] hover:bg-gray-800 transition text-sm sm:text-base flex justify-center items-center gap-2 focus:outline-none focus:ring-0">
                      <span id="btnLoader"
                        class="hidden border-2 border-white border-t-transparent rounded-full w-5 h-5 animate-spin"></span>
                      <span id="btnText">Generate Commits</span>
                    </button>

                  </form>
            </div>
          </div>
    </div>
  </section>
  <footer class=" shadow-sm py-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-6">
      <div class=" gap-2 mb-3 md:mb-0">
        <span class="text-lg ">SnappyGit </span>
        <p class="text-[12px]">  Made by Sphinx <i class="ri-heart-fill"></i></p>
      </div>
      <div class="flex items-center gap-4">

        <div class="text-sm text-gray-500 mb-3 md:mb-0">
            © 2025 All rights reserved.
        </div>
      </div>
    </div>
  </footer>
<script>
  window.FIREBASE_CONFIG = {
    apiKey: "<%= FIREBASE_API_KEY %>",
    authDomain: "<%= FIREBASE_AUTH_DOMAIN %>",
    projectId: "<%= FIREBASE_PROJECT_ID %>",
    storageBucket: "<%= FIREBASE_STORAGE_BUCKET %>",
    messagingSenderId: "<%= FIREBASE_MESSAGING_SENDER_ID %>",
    appId: "<%= FIREBASE_APP_ID %>"
  };
</script>
  <script src="/scripts/index.js"></script>
  <script type="module" src="/auth/profile.js"></script>
</body>
</html>